doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        nav
          a.title Table of Contents
            span.triangle
          ul
            li: a.link Why contribute to open source?
            li: a.link Why contribute to open source?
            li: a.link Why contribute to open source?
            li: a.link Why contribute to open source?
            li: a.link Why contribute to open source?
        script(src="script.js", type='text/javascript')